---
# default.html layout
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
    <title>{{ page.title }}</title>
</head>

<body>

    <header>
        <div class="container">
            <a id="a-title" href="{{ '/' | relative_url }}">
                <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>

            <section id="downloads">
                {% if site.show_downloads %}
                    <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                    <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                {% endif %}
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
            </section>
        </div>
    </header>

    <!-- Main banner (navigation menu) -->
    <div class="banner">
        <ul class="menu">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/page1.md' | relative_url }}">Presentation</a></li>
            <li><a href="{{ '/page2.md' | relative_url }}">Mobs and Creatures</a></li>
            <li><a href="{{ '/page3.md' | relative_url }}">Goal of the game</a></li>
            <li><a href="{{ '/page4.md' | relative_url }}">Biomes</a></li>
            <li><a href="{{ '/page5.md' | relative_url }}">Usual Playthrough</a></li>
            <li><a href="{{ '/page6.md' | relative_url }}">Building</a></li>
            <li><a href="{{ '/page7.md' | relative_url }}">Crafting</a></li>
        </ul>
    </div>

    <div class="container">
        <section id="main_content">
            {{ content }} <!-- This renders the content from your page -->
        </section>
    </div>

    <footer>
        <p>© 2024 Minecraft Wiki</p>
    </footer>

</body>
</html>
